footer {
  position: fixed !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 40px !important;
  color: white !important;
  background-color: #4A4A4A !important;
  text-align: center !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
