/* Estilo para la tarjeta y el contenedor general */
#info-cuenta {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.card {
    background-color: #e1d8b8;
    width: 80%;
    max-width: 800px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: left;
    color: #333;
}

/* Estilo para el contenedor de la foto de perfil y el nombre */
.perfil-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* Estilo de la foto de perfil */
.foto-perfil {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url('../images/usuarioBase.jpg'); /* Imagen de perfil */
    background-size: cover;
    background-position: center;
    margin-right: 20px;
}

/* Estilo del nombre */
h2 {
    font-size: 2rem;
    color: #333;
}

/* Estilos de los párrafos (email, monedero) */
.email, .monedero {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 10px;
}

/* Estilos de los botones */
.botones {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn-editar, .btn-monedero, .btn-alergias {
    padding: 15px;
    font-size: 1.1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-editar {
    background-color: #4a90e2;
}

.btn-editar:hover {
    background-color: #357ab7;
}

.btn-monedero {
    background-color: #e67e22;
}

.btn-monedero:hover {
    background-color: #cf7119;
}

.btn-alergias {
    background-color: #f39c12;
}

.btn-alergias:hover {
    background-color: #e67e22;
}

.card strong {
    color: #2f67ec;
  }

  /* Estilos para el fondo difuminado y el modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo difuminado */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.modal-content h3 {
    margin-bottom: 15px;
    color: #333;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
}

.modal-content button {
    padding: 10px 20px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.modal-content button:hover {
    background-color: #357ab7;
}
