/* Reset para márgenes y rellenos */
#main-content * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cuerpo y contenedor principal */
#main-content {
    font-family: 'Arial', sans-serif;
    background-color: #171a21;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Asegura que se centra dentro del contenido principal */
}

/* Contenedor de todo (imagen + formulario) */
#main-content .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20%;
}


/* Estilo para el formulario de login */
#main-content .login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin-top: 60px; /* Mueve el formulario hacia abajo para dar espacio a la imagen */
}

#main-content .login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Estilo de los campos de entrada */
#main-content .input-group {
    margin-bottom: 20px;
    text-align: left;
}

#main-content .input-group label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

#main-content .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

#main-content .input-group input:focus {
    border-color: #4a90e2;
    outline: none;
}

/* Botón de login */
#main-content .btn {
    width: 100%;
    padding: 10px;
    background-color: #4a90e2;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

#main-content .btn:hover {
    background-color: #357ab7;
}

/* Estilo para los enlaces */
#main-content .links {
    margin-top: 15px;
}

#main-content .links a {
    font-size: 14px;
    color: #4a90e2;
    text-decoration: none;
    margin: 5px;
}

#main-content .links a:hover {
    text-decoration: underline;
}

/* Estilo para el mensaje de error */
.error-message {
    color: red;
    font-size: 1rem;
    margin-top: 10px;
    text-align: center;
}
